<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>378750513836-bvf0a1n01vetkv3n0utf09ad2qn4c8uq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.378750513836-bvf0a1n01vetkv3n0utf09ad2qn4c8uq</string>
	<key>API_KEY</key>
	<string>AIzaSyCuloMgwwBUVCSh66Ab2dP1sTsIucinhmQ</string>
	<key>GCM_SENDER_ID</key>
	<string>378750513836</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gokulnair.login-logout</string>
	<key>PROJECT_ID</key>
	<string>login-logout-27ee3</string>
	<key>STORAGE_BUCKET</key>
	<string>login-logout-27ee3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:378750513836:ios:600ba68968c43f6f54e509</string>
	<key>DATABASE_URL</key>
	<string>https://login-logout-27ee3.firebaseio.com</string>
</dict>
</plist>